@if (book$ | async; as book) {
  <div class="details">
    <h1>{{ book.title }}</h1>
    @if (book.subtitle) {
      <p role="doc-subtitle">{{ book.subtitle }}</p>
    }
    <div class="header">
      <div>
        <h2>Authors</h2>
        <ul>
          @for (author of book.authors; track author) {
            <li>{{ author }}</li>
          }
        </ul>
      </div>
      <div>
        <h2>ISBN</h2>
        {{ book.isbn }}
      </div>
      @if (book.published) {
        <div>
          <h2>Published</h2>
          {{ book.published }}
        </div>
      }
    </div>
    <h2>Description</h2>
    <p>{{ book.description }}</p>
    @if (book.thumbnailUrl) {
      <img [src]="book.thumbnailUrl" alt="Cover" />
    }
    <a class="button arrow-left" routerLink="..">Back to list</a>
    <button class="red" (click)="removeBook(book.isbn)">Remove book</button>
    <a class="button" [routerLink]="['/admin/edit', book.isbn]"> Edit book </a>
  </div>
}
